rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /spy_rounds/{roundId} {
      allow create: if request.auth != null
        && request.resource.data.keys().hasOnly([
          'players',
          'playersCount',
          'spyName',
          'location',
          'roundMinutes',
          'startedAtIso',
          'finishedAtIso',
          'createdAt'
        ])
        && request.resource.data.players is list
        && request.resource.data.players.size() >= 3
        && request.resource.data.playersCount == request.resource.data.players.size()
        && request.resource.data.spyName is string
        && request.resource.data.location is string
        && request.resource.data.roundMinutes is number
        && request.resource.data.startedAtIso is string
        && request.resource.data.finishedAtIso is string;

      allow read: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
